body {
    font-family: sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 5px;
}

.logo {
    max-width: 350px;
    margin-bottom: 20px;
}

.coming-soon {
    font-size: 4rem;
    margin-bottom: 30px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.countdown-item {
    margin: 0 10px;
}

.countdown-item span {
    font-size: 2rem;
    display: block;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #333;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
}



@media only screen and (max-width: 768px) {
    .coming-soon {
        font-size: 2.8rem;
    }

    .countdown-item span {
        font-size: 1.5rem;
    }
}
